*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
body{
    background-color:#e0e2e3;
   

}
/* common */
/* header */
header{
    /* padding: 0 20px; */
    height: 80px;
    background-color: white;
    line-height: 80px;
    margin-bottom: 40px;
}
.main-title{
    background-color: white;
    display: inline-block;
    font-size: 4rem;
    vertical-align: middle;
}
#logo-img{
   width: 80px;
   vertical-align: middle;
   background-color: white;

}
.header-bar{
    padding: 20px;
    background-color: white;
}
/* main */
li{
    list-style-type: none;
}

.main-part{
    margin: 100px auto;
    width: 80%;
    background-color: white;
    /* padding: 20px; */
    border-radius: 5px;
    
}
/* buttons */
.action{
    padding: .8rem 1.4rem;
    border-bottom: 4px solid lightgray;
}
.btn{
    border: 0;
    cursor: pointer;
    font-size: .8rem;
    border-radius: 5px;
    padding: .3rem .8rem;
}
.btn-filled{
  
    border: 1 solid #47ADF1;
    color: white;
    background-color: #47ADF1;

   
}
.btn-empty{
    background-color: white;
    border: 1px solid gray;
    color: grey;
}
.operation-list{
    margin-top: 50px;
}
.labels{
    width: 40px;
    height: 20px;
    border-radius: 15px;
    padding: 15px;
    background-color: aquamarine;
    line-height: 80px;
    
}
.blue{
    background-color: #47ADF1;
}
.pink{
    background-color: #E28AB8;
}
.green{
    background-color: #64C0A9;
}
.light-green{
    background-color: #B0C926;
}
.orange{
    background-color: #F29E33;
}
.purple{
    background-color: #9C72E4;
}